.sticker {
  text-align: center;
  border: rem(1) solid white;
  width: rem(125);
  border-radius: 0.5vmin;
  padding: var(--single);
  background-color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-gray-7));
  user-select: none;
}